.readable-background {
  background: #e8e8e8;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
}

.dropdown-text {
  background: lightskyblue;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-button {
  margin: 0px 10px;
  border: 1px solid black;
  padding: 4px 10px;
  background: #e8e8e8;
}

.extra-info {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e8e8e8;
  box-sizing: border-box;
  padding: 20px;
  border-top: 1px solid gray;
}

.intro-span {
  margin: 10px;
  color: black;
}
.zoom-link {
  color: blue;
}
.zoom-logo {
  max-width: 80px;
  margin: 10px;
}
