services:
  # Development service
  react-dev:
    build:
      context: .
      target: development
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    profiles:
      - dev
    image: zoom_participants_chat_count_dev_image
    container_name: zoom_participants_chat_count_dev_container

  # Production service
  react-prod:
    build:
      context: .
      target: production
    ports:
      - "80:80"
    environment:
      - NODE_ENV=production
    profiles:
      - prod
    image: zoom_participants_chat_count_prod_image
    container_name: zoom_participants_chat_count_prod_container

networks:
  default:
    driver: bridge