.participation-counter-container {
  min-height: calc(100vh - 150px);
  overflow-y: scroll;
  width: 100vw;
  margin-top: 60px;
  /* left: 0;
  right: 0; */
}

.table-div {
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
}

.buttons-above-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-above-table button {
  background: lightcoral;
  margin: 10px;
  height: 40px;
  width: auto;
  border: none;
}

.clear-results-button {
  background: lightcoral;
  margin: 10px;
  height: 40px;
  width: auto;
  border: none;
}

.step-and-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 10px;
}

.step-and-text-div:first-child {
  margin-top: 30px;
}

.step-div-2 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.step {
  margin: 10px;
  padding: 4px 10px;
  background: lightskyblue;
  color: black;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.or {
  background: lightcoral;
  border-radius: 50px;
  margin: auto;
  margin-top: -10px;
  margin-bottom: 20px;
  width: 30px;
}

.name-label-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.name-label-div label {
  padding: 0px;
}

.name-label-div input[type="text"] {
  padding: 10px;
  margin: 10px;
}

/* .name-label-div input[type=text]::placeholder {
  color: rgb(10, 10, 10);
} */

.required-highlight {
  border: 2px solid red;
}

.lastname-error {
  color: red;
  margin-top: 0;
  padding: 0;
  grid-column: 2;
  grid-row: 2;
  /* background: white; */
}

.textarea-div {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto 24px;
}

.textarea-error {
  color: red;
  margin-top: 0;
  padding: 0;
  /* background: white; */
}

.file-upload-divs-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 90px;
  margin: auto;
  margin-bottom: 10px;
}

.file-upload-div {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  width: 200px;
  height: 70px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 10px;
}

.file-upload-div:hover {
  transform: scale(1.05);
}

.file-upload-input {
  opacity: 0;
  padding: 10px;
  z-index: 1;
  width: 200px;
  height: 70px;
  box-sizing: border-box;
}

.file-upload-span {
  position: absolute;
  background-color: #e8e8e8;
  z-index: 0;
  color: black;
  padding: 14px 10px;
  width: 200px;
  box-sizing: border-box;
  text-align: center;
}

.step-div-3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit-button {
  margin: 10px;
  height: 40px;
  width: auto;
  border: none;
  background-color: #32CD32;
}

.clear-textarea-button {
  margin: 10px;
  height: 40px;
  width: auto;
  border: none;
}

.clear-all-button {
  margin: 10px;
  height: 40px;
  width: auto;
  border: none;
}

.data {
  margin-top: 20px;
  width: 90vw;
  min-height: 50vh;
}

table {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
tr {
  border-bottom: 1px solid lightgray;
}

tr:nth-child(even) {
  background-color: lightgray;
}


th:first-child,
td {
  border-right: 1px solid gray;
}
th,
td {
  padding: 4px 15px;
  color: black;
}

.lastname-disable {
  opacity: 0.5;
  /* pointer-events: none; */
  cursor: not-allowed;
}

.stepClass2 {
  visibility: hidden;
}

.checkbox-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  max-width: 600px;
}

.checkbox-div label {
  margin-left: 10px;
}



@media screen and (max-width: 600px) {
  .step-and-text-div {
    align-items: flex-start;
  }
  .step-para-1 {
    margin-top: 6px;
  }
}
