.tableDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
}

.buttons-above-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-above-table button {
  background: lightcoral;
  margin: 10px;
  height: 40px;
  width: auto;
  border: none;
}

.clear-results-button {
  background: lightcoral;
  margin: 10px;
  height: 40px;
  width: auto;
  border: none;
}

.step {
  margin: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 10px;
  width: 20px;
  height: 20px;
  background: lightskyblue;
  color: black;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.or {
  background: lightcoral;
  border-radius: 50px;
}
.step-para-1 {
  margin-top: 40px;
}

.name-label-div label {
  padding-right: 10px;
}
.name-label-div input[type=text] {
  padding: 10px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.name-label-div input[type=text]::placeholder {
  color: rgb(10, 10, 10);
}

.file-upload-div {
	display: flex;
	position: relative;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease;
	width: 120px;
  box-sizing: border-box;
  margin: auto;
}

.file-upload-div:hover {
	transform: scale(1.05);
}

.file-upload-input {
	opacity: 0;
	padding: 10px;
	z-index: 1;
	width: 120px;
	box-sizing: border-box;
}

.file-upload-span {
	position: absolute;
	background-color: #e8e8e8;
	z-index: 0;
	color: black;
	padding: 14px 10px;
	width: 120px;
	box-sizing: border-box;
	text-align: center;
}

.step-para-3-div {
  margin-top: 20px;
  margin-bottom: 54px;
}

.submit-button {
  margin: 10px;
  height: 40px;
  width: auto;
  border: none;
}

.clear-textarea-button {
  margin: 10px;
  height: 40px;
  width: auto;
  border: none;
}

.clear-all-button {
  margin: 10px;
  height: 40px;
  width: auto;
  border: none;
}

.data {
  margin-top: 20px;
  width: 90vw;
  min-height: 50vh;
}

table {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
tr {
  border-bottom: 1px solid lightgray;
}
th:first-child, td {
  border-right: 1px solid gray;
}
th, td {
  padding: 4px 15px;
  color: black;
}