.footerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "sans";
  font-weight: 300;
  color: #ffd700;
  background-color: #282c34;
  width: 100%;
  border-top: 1px solid white;
}
.footerDiv p {
  margin: 0px;
  padding: 0px 10px;
}

.footerChildDiv {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .footerChildDiv {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .footerDiv {
    font-size: 12px;
  }
}
