.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  color: white;
  padding: 10px auto;
  overflow-y: none;
  display: grid;
  grid-template-rows: 60px 1fr 54px;
}
